<nav>
    <div class="nav-wrapper">
        <div class="brand-logo left">
            <a href="https://angularbootcamp.com"></a>
            <span>My project</span>
        </div>
        <ul class="right">
            <li>
                <a target="_blank" href="https://angular.io/guide/router">
                    Routing Docs
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="row2">
    <div class="nav-wrapper">
        <ul class="navLinks">
            <li routerLinkActive="green-background">
                <a routerLink="/home">Home</a>
            </li>
            <li routerLinkActive="green-background">
                <a routerLink="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>