/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primary: #0c0bf4;
    --seconday: #810bf4;
    --warm:#0b7ef4;
}